In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("survey_results_public.csv", index_col="Respondent")
schema_df = pd.read_csv("survey_results_schema.csv", index_col="Column")

## aggregation

* ### median

In [3]:
df["ConvertedComp"].median()

57287.0

In [4]:
df.median(numeric_only=True)

CompTotal        62000.0
ConvertedComp    57287.0
WorkWeekHrs         40.0
CodeRevHrs           4.0
Age                 29.0
dtype: float64

* ### describe

In [5]:
df.describe()

          CompTotal  ConvertedComp   WorkWeekHrs    CodeRevHrs           Age
count  5.594500e+04   5.582300e+04  64503.000000  49790.000000  79210.000000
mean   5.519014e+11   1.271107e+05     42.127197      5.084308     30.336699
std    7.331926e+13   2.841523e+05     37.287610      5.513931      9.178390
min    0.000000e+00   0.000000e+00      1.000000      0.000000      1.000000
25%    2.000000e+04   2.577750e+04     40.000000      2.000000     24.000000
50%    6.200000e+04   5.728700e+04     40.000000      4.000000     29.000000
75%    1.200000e+05   1.000000e+05     44.750000      6.000000     35.000000
max    1.000000e+16   2.000000e+06   4850.000000     99.000000     99.000000

* ### value_counts

In [6]:
df["SocialMedia"].value_counts()
df["SocialMedia"].value_counts(normalize=True)  # returns percentages

Reddit                      0.170233
YouTube                     0.163791
WhatsApp                    0.158071
Facebook                    0.156069
Twitter                     0.134988
Instagram                   0.074150
I don't use social media    0.065777
LinkedIn                    0.053306
WeChat 微信                   0.007899
Snapchat                    0.007437
VK ВКонта́кте               0.007141
Weibo 新浪微博                  0.000663
Youku Tudou 优酷              0.000249
Hello                       0.000225
Name: SocialMedia, dtype: float64

## grouping

* ### groupby: more flexible than filters. Groupby are similar to SQL's group by 
* ### not being used to query for one group with no aggregation due to does not work

In [7]:
country_grp = df.groupby(["Country"])

In [8]:
country_grp.get_group("United States")

# equivalent to
# df.loc[df["Country"] == "United States"]

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
22,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,Some college/university study without earning ...,NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,47.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
23,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,22.0,Man,No,Straight / Heterosexual,Black or of African descent,No,Appropriate in length,Easy
26,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,NaN,34.0,Man,No,Gay or Lesbian,NaN,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78292,NaN,No,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",United States,No,"Other doctoral degree (Ph.D, Ed.D., etc.)","A health science (ex. nursing, pharmacy, radio...",Completed an industry certification program (e...,...,Somewhat less welcome now than last year,NaN,60.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Neither easy nor difficult
82717,NaN,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",United States,No,"Secondary school (e.g. American high school, G...",NaN,NaN,...,NaN,Industry news about technologies you're intere...,44.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Neither easy nor difficult
83397,NaN,Yes,Less than once per year,NaN,"Not employed, but looking for work",United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,NaN,27.0,Woman,No,Bisexual,White or of European descent,No,Appropriate in length,Easy
85642,NaN,No,Less than once per year,"OSS is, on average, of LOWER quality than prop...","Independent contractor, freelancer, or self-em...",United States,No,Associate degree,"Information systems, information technology, o...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,34.0,"Non-binary, genderqueer, or gender non-conforming",NaN,Bisexual;Gay or Lesbian,White or of European descent,No,Appropriate in length,Easy
88282,NaN,Yes,Once a month or more often,The quality of OSS and closed source software ...,"Not employed, but looking for work",United States,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,NaN,NaN,Man,No,Straight / Heterosexual,NaN,No,Too short,Neither easy nor difficult

* ### use aggregate function on groups

In [9]:
country_grp["SocialMedia"].value_counts().head(5)

Country      SocialMedia
Afghanistan  Facebook                    15
             YouTube                      9
             I don't use social media     6
             WhatsApp                     4
             Instagram                    1
Name: SocialMedia, dtype: int64

### filters vs. groups
* ### Groups can display the result for all countries separated at once
* ### filters can display overall result

In [10]:
# same queries for 1 country
df.loc[df["Country"] == "United States"]["SocialMedia"].value_counts()
country_grp["SocialMedia"].value_counts().loc["United States"]

# same queries difference when specifying not country
df["SocialMedia"].value_counts()
country_grp["SocialMedia"].value_counts()

Country      SocialMedia
Afghanistan  Facebook                    15
             YouTube                      9
             I don't use social media     6
             WhatsApp                     4
             Instagram                    1
                                         ..
Zimbabwe     Facebook                     3
             YouTube                      3
             Instagram                    2
             LinkedIn                     2
             Reddit                       1
Name: SocialMedia, Length: 1220, dtype: int64

### access 1 group after aggregation

In [11]:
country_grp["ConvertedComp"].median()["Germany"]

63016.0

## agg

* ### apply multiple functions on a group

In [12]:
country_grp["ConvertedComp"].agg(["median", "mean"])

                                        median           mean
Country
Afghanistan                             6222.0  101953.333333
Albania                                10818.0   21833.700000
Algeria                                 7878.0   34924.047619
Andorra                               160931.0  160931.000000
Angola                                  7764.0    7764.000000
...                                        ...            ...
Venezuela, Bolivarian Republic of...    6384.0   14581.627907
Viet Nam                               11892.0   17233.436782
Yemen                                  11940.0   16909.166667
Zambia                                  5040.0   10075.375000
Zimbabwe                               19200.0   34046.666667

[179 rows x 2 columns]

## apply scalar methods like str in groupby-series

In [13]:
filt = df["Country"] == "India"
df[filt]["LanguageWorkedWith"].str.contains("Python")

Respondent
8         True
10        True
15       False
50        True
65       False
         ...
77339    False
79795     True
83862    False
84299     True
86012    False
Name: LanguageWorkedWith, Length: 9061, dtype: object

In [14]:
# determine sum with boolean summation: True=1, False=0
df[filt]["LanguageWorkedWith"].str.contains("Python").sum()

3105

In [15]:
# apply necessary, due to groupby-series cant be applied str method due to str is a scalar method
# Instead use str method to every single series contained in this groupby-series with apply.
# And then use aggregate function like sum otherwise we would destroy the groups
country_grp["LanguageWorkedWith"].apply(lambda x: x.str.contains("Python").sum())

Country
Afghanistan                              8
Albania                                 23
Algeria                                 40
Andorra                                  0
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    28
Viet Nam                                78
Yemen                                    3
Zambia                                   4
Zimbabwe                                14
Name: LanguageWorkedWith, Length: 179, dtype: int64

## get percentage of python users

* ### 1st solution

In [16]:
country_respondent = df["Country"].value_counts()
country_uses_python = country_grp["LanguageWorkedWith"].apply(lambda x: x.str.contains("Python").sum())
series_python1 = country_uses_python / country_respondent

df_python1 = pd.DataFrame({"county": series_python1.index, "python users in %": series_python1.values})
df_python1.head()

        county  python users in %
0  Afghanistan           0.181818
1      Albania           0.267442
2      Algeria           0.298507
3      Andorra           0.000000
4       Angola           0.400000

* ### 2nd solution

In [17]:
df_python2 = pd.concat([country_respondent, country_uses_python], axis=1)
df_python2.rename(columns={"Country" : "NumRespondent", "LanguageWorkedWith" : "NumKnowsPython"}, inplace=True)
df_python2

                   NumRespondent  NumKnowsPython
United States              20949           10083
India                       9061            3105
Germany                     5866            2451
United Kingdom              5737            2384
Canada                      3395            1558
...                          ...             ...
Tonga                          1               0
Timor-Leste                    1               1
North Korea                    1               0
Brunei Darussalam              1               0
Chad                           1               0

[179 rows x 2 columns]

* ### 3rd solution

In [18]:
# 3rd solution
ctr_knows_python = country_grp["LanguageWorkedWith"].apply(lambda x: x.str.contains("Python", na=False).value_counts(normalize=True))
ctr_knows_python.rename({False:"Don't know", True:"I know"}, inplace=True)
ctr_knows_python

Country
Afghanistan  Don't know    0.818182
             I know        0.181818
Albania      Don't know    0.732558
             I know        0.267442
Algeria      Don't know    0.701493
                             ...
Yemen        I know        0.157895
Zambia       Don't know    0.666667
             I know        0.333333
Zimbabwe     Don't know    0.641026
             I know        0.358974
Name: LanguageWorkedWith, Length: 337, dtype: float64

* ### multi indexing with aggregation

In [19]:
country_grp["SocialMedia"].value_counts().loc["India", "Facebook"]

841